Source: fonts-notosansjp
Section: fonts
Priority: optional
Maintainer: watiko <service@mail.watiko.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://code.google.com/p/noto/
Vcs-Git: git://github.com/watiko/fonts-notosansjp.git
Vcs-Browser: https://github.com/watiko/fonts-notosansjp

Package: fonts-notosansjp
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Provides: fonts-japanese-gothic
Description: NotoSansJP fonts, supporting Japanese.
 The supported scripts are Han, Hiragana, Katakana.
 Latin, Greek, Cyrllic, and various symbols are also
 supported for compatibility with CJK standards.
 .
 The fonts in this package are developed by Google and Adobe and are
 released as open source under the Apache license version 2.0. The copyright
 is held by Adobe, while the trademarks on the names are held by Google.
